.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SearchBar {
    width: 500px;
    border: 2px solid red;
}

.input {
    width: 491px;
    height: 40px;
    padding-left: 1%;
}